<div class="product-item card text-center">
  <a href="/product-<%=product.slug%>.<%=product.id%>"><img src="/static/upload/images/<%=product.thumbnail%>" /></a>
  <h4><a href="/product-<%=product.slug%>.<%=product.id%>"><%=product.name%></a></h4>
  <p>Giá Bán: <span><%=formetter.format(product.price)%></span></p>
</div>
